<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812197369200-vcj3cf2faqc2cohiu6kmrjhi1mql1eq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812197369200-vcj3cf2faqc2cohiu6kmrjhi1mql1eq2</string>
	<key>API_KEY</key>
	<string>AIzaSyDUQN9gmDo2weFEaAxK3MMjEQntsU1xD60</string>
	<key>GCM_SENDER_ID</key>
	<string>812197369200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textileMobileApp</string>
	<key>PROJECT_ID</key>
	<string>ayyash-textile-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>ayyash-textile-shop.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812197369200:ios:23421a25475a2256fc6bb5</string>
</dict>
</plist>